## This list is also used by setup.py - install_requires
## But there it removes all version restrictions
## To upgrade this list, run
##     make build-docker
##     make bash
##     pip install pip-upgrader
##     /home/openmaptiles/.local/bin/pip-upgrade --skip-virtualenv-check
##        choose all if asked
##     this file should now be updated
aiohttp==3.9.5
ascii_graph==1.5.1
asyncpg==0.29.0
beautifulsoup4==4.12.3
betterproto==1.2.5
dataclasses-json==0.6.5
deprecated==1.2.14
docopt-ng==0.9.0
flake8==7.0.0
flake8-quotes==3.4.0
graphviz==0.20.3
psycopg2-binary==2.9.9
pyyaml==6.0.1
requests==2.31.0
tabulate==0.9.0
tornado==6.4
geojson==3.1.0
pyproj==3.6.1